<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ username | titlecase }}
    </mat-card-title>
    <mat-card-subtitle>
      User
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="adress">
      <h5><strong>
          <mat-icon>home</mat-icon>Default adress:
        </strong>
      </h5>
      <!-- Adress -->
      <!-- Not Editable -->
      <div *ngFor="let item of adressData">
        <div (dblclick)="doubleClick(item.name)" *ngIf="editMode != item.name"><strong>
            <mat-icon>{{ item.icon }}</mat-icon>{{ item.title }}
          </strong> {{ item.value }}
        </div>
        <!-- Editable -->
        <div (keyup.enter)="editData(item.name,input,'address')" *ngIf="editMode == item.name"><strong>
            <mat-icon>{{ item.icon }}</mat-icon>{{ item.title }}
          </strong>
          <mat-form-field class="example-full-width">
            <input #input matInput maxlength="4" [ngModel]="item.value">
          </mat-form-field>
        </div>
      </div>
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <div class="adress">
      <h5><strong>
          <mat-icon>person_pin</mat-icon>User informations:
        </strong>
      </h5>
      <!-- Contacts -->
      <!-- Not Editable -->
      <div *ngFor="let item of contactsData">
        <div (dblclick)="doubleClick(item.name)" *ngIf="editMode != item.name"><strong>
            <mat-icon>{{ item.icon }}</mat-icon>{{ item.title }}
          </strong> {{ item.value }}
        </div>
        <!-- Editable -->
        <div (keyup.enter)="editData(item.name,input2,'contact')" *ngIf="editMode == item.name"><strong>
            <mat-icon>{{ item.icon }}</mat-icon>{{ item.title }}
          </strong>
          <mat-form-field class="example-full-width">
            <input #input2 matInput [ngModel]="item.value">
          </mat-form-field>
        </div>
      </div>
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <div class="adress">
      <mat-accordion>
        <h5><strong>
            <mat-icon>add_shopping_cart</mat-icon>Coupons:
          </strong>
        </h5>
        <mat-expansion-panel *ngFor="let coupon of coupons">
          <mat-expansion-panel-header>
            {{coupon.name}}
          </mat-expansion-panel-header>
          <mat-panel-description>
            Percentage: {{ coupon.percentage | percent }} <br>
            Usage: {{ coupon.itemType }}

          </mat-panel-description>
          <button mat-raised-button color="primary" class="use-button" (click)="useCoupon(coupon.id)">Use</button>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <mat-divider></mat-divider>
    <br>
    <!-- Change Password -->
    <div class="adress">
      <h5><strong>
          <mat-icon>lock</mat-icon>Change Password:
        </strong>
      </h5>
      <form (ngSubmit)="changePassword(form)" #form="ngForm">
        <mat-form-field class="example-full-width">
          <input matInput minlength="8" type="password" placeholder="Old Password" name="oldPassword" ngModel required>
        </mat-form-field>
        <br><br>
        <mat-form-field class="example-full-width">
          <input matInput minlength="8" type="password" placeholder=" New Password" name="newPassword" ngModel required>
        </mat-form-field>
        <br><br>
        <mat-form-field class="example-full-width">
          <input matInput minlength="8" type="password" placeholder="Verify New Password" name="newPasswordverify" ngModel required>
        </mat-form-field>
        <br><br>
        <button mat-button type="submit" color="primary">Change</button>
      </form>

    </div>
  </mat-card-content>
</mat-card>
