<mat-tab-group>
    <mat-tab label="Coupomn Add">
        <form #couponAddForm="ngForm" (ngSubmit)=addNewCoupon(couponAddForm)>
            <div class="example-container">
                <mat-form-field>
                    <input matInput placeholder="Name" name="name" ngModel required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Percentage" name="percent" ngModel required>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit"
                    style="margin-left:auto;margin-right:auto;display:block; margin-top: 20pt; width: 220pt">Add</button>
            </div>
        </form>
    </mat-tab>
    <mat-tab label="Coupon Delete">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%">
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let coupon"> {{coupon.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let coupon"> {{coupon.name}} </td>
            </ng-container>

            <ng-container matColumnDef="percent">
                <th mat-header-cell *matHeaderCellDef> Percentage </th>
                <td mat-cell *matCellDef="let coupon"> {{coupon.percent}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
        </table>

        <button mat-raised-button color="primary" (click)="deleteSend($event)"
            style="margin-left:auto;margin-right:auto;display:block; margin-top: 20pt; width: 220pt">Delete</button>

    </mat-tab>
</mat-tab-group>