<!--
<mat-tab-group>
    <mat-tab *ngFor="let order of orders" [label]="First"> Content 1 </mat-tab>
</mat-tab-group>
-->
<div class="spaceing">
    <form #pendingRentalsForm="ngForm">
        <mat-list role="list" *ngFor="let element of orders" style="padding-left: 2%">
            <mat-list-item role="név" class="spaceing">
                <h2>{{element.user.firstname + ' ' + element.user.lastname + ' ' + element.user.addresses.postCode + ' '+
                 element.user.addresses.address}}</h2>
            </mat-list-item>
            <mat-list role="list" *ngFor="let food of element.orders">
                <mat-list-item role="itemDetails">
                    {{food.item.name + ' ' + food.quantity + ' pc'}}
                </mat-list-item>
            </mat-list>

            <mat-tab-group animationDuration="0ms" (selectedTabChange)="send($event, element.id)" style="color: red">
                <mat-tab label="Ordered"> Ordered </mat-tab>
                <mat-tab label="In Progress"> In Progress </mat-tab>
                <mat-tab label="Finished"> Finished </mat-tab>
                <mat-tab label="On Delivery"> On Delivery </mat-tab>
            </mat-tab-group>
        </mat-list>
    </form>
</div>