.mat-dialog-actions {
    float: right;
}

.mat-dialog-content {
    margin: auto;
}

.table {
    width: 100%;
    margin: 2%;
    padding: 1%;
}


.mat-dialog-title {
    text-align: center;
}

.foodContent{
    width: 100%;
    margin: 2%;
    padding: 1%;
}

.foodContent-header {
    background-color: black;
    color: white;
    margin-top: 1%;
    padding: 1%;
    text-align: center;
}

.foodContent-header h4 {
    padding: 1%;
    margin: auto;
}

