<!-- Material form login -->
<mat-card class="login-card">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <div>
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <mat-form-field class="login-input">
          <input matInput placeholder="Username" name="username" ngModel required>
        </mat-form-field>
        <br>
        <mat-form-field class="login-input">
          <input matInput type="password" placeholder="Password" name="password" ngModel required minlength="6">
        </mat-form-field>
        <br>
        <div class="login-input">
          <mat-checkbox checked="checked" name="rememberMe" ngModel>Remember me</mat-checkbox>
        </div>
        <button mat-raised-button type="submit" color="primary">Login</button>
      </form>
    </div>

  </mat-card-content>
</mat-card>
