<mat-toolbar >
    <button mat-button routerLink = "/pending-rentals">Függő rendelések</button>
    <button mat-button routerLink = "/statistics">Statisztikák</button>
    <button mat-button routerLink = "/item-add">Új termék hozzádaása</button>
    <button mat-button routerLink = "/item-edit">Termék szerkesztése</button>
    <button mat-button routerLink = "/type-add">Típus hozzáadása</button>
    <button mat-button routerLink = "/coupon-add">Kuponok kezelése</button>
    <button mat-button routerLink = "/allergen-add">Allergén hozzáadása</button>
</mat-toolbar>
