<form #itemAddForm="ngForm" (ngSubmit)=addNewItem(itemAddForm)>
  <div class="example-container">

    <mat-form-field>
      <input matInput placeholder="Név" name="name" ngModel required>
    </mat-form-field>


    <mat-form-field>
      <input matInput placeholder="Ár" name="price" ngModel required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Kalória" name="kcal" ngModel required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Fehérje" name="protein" ngModel required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Zsír" name="fat" ngModel required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Szénhidrát" name="carbs" ngModel required>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Típus" name="type" ngModel required>
          <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
        </mat-select>
      </mat-form-field>

    <mat-chip-list #chipList [multiple]="true" [selectable]="true"  style="margin-left:auto; margin-right:auto">
        <mat-chip *ngFor="let category of listAllergen" #chip="matChip"
          (click)="category.selected ? chip.deselect() : chip.selectViaInteraction()" [selected]="category.selected"
          [selectable]="true" class="leadr-category-chip" (selectionChange)="changeAllergenStatus($event, category.name)">
          {{category.name}}
  
        </mat-chip>
      </mat-chip-list>

      <button type="submit" mat-raised-button color="primary"
        style="margin-left:auto;margin-right:auto;display:block; margin-top: 20pt; width: 220pt">Felvitel</button>
  </div>
</form>