<mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><mdb-icon fas icon="utensils"></mdb-icon></div>
          <mat-card-title>{{food.name}}</mat-card-title>
          <mat-card-subtitle>Item</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{food.picture}} alt="Photo Of The Item" (click)="openDialog(food)">
        <mat-card-content>
          <p>

          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="appItemToCart(food)">ADD</button>
        </mat-card-actions>
</mat-card>