<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Név">
    </mat-form-field>
  

    <mat-form-field>
      <textarea matInput placeholder="Ár"></textarea>
    </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="Kalória"></textarea>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Fehérje"></textarea>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Zsír"></textarea>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Szénhidrát"></textarea>
      </mat-form-field>
  
    <mat-form-field>
      <mat-select placeholder="Típus">
        <mat-option value="food">Étel</mat-option>
        <mat-option value="drink">Ital</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-card>
        <mat-card-content>
            <mat-checkbox >Glutén</mat-checkbox>
            <mat-checkbox style="padding-left: 37pt">Tojás</mat-checkbox>
            <mat-checkbox style="padding-left: 37pt">Földimogyoró</mat-checkbox>
            <mat-checkbox style="padding-left: 37pt">Szója</mat-checkbox>
            <mat-checkbox style="padding-left: 37pt">Tej</mat-checkbox>
            <mat-checkbox style="padding-left: 37pt">Dió</mat-checkbox>
            <mat-checkbox style="padding-left: 37pt">Zeller</mat-checkbox>
            <mat-checkbox style="padding-left: 37pt">Mustár</mat-checkbox>
            <mat-checkbox style="padding-left: 37pt">Szezámmag</mat-checkbox>
        </mat-card-content>
    </mat-card>

  </div>

  <button mat-raised-button color="primary" style="margin-left:auto;margin-right:auto;display:block; margin-top: 20pt; width: 220pt">Felvitel</button>